<div class="container">
  <div class="hobby-intro">
    <h3>Mina Hobbys!</h3>
    <p>Varför tar jag med mina hobbys, kanske du undrar?
    Jag tror helhjärtat på egenskaperna man utvecklar
    genom sina hobbys färgar av sig på ens 
    professionella liv! Därför tänkte jag presentera mina 
    hobbys, samt nämna vilka styrkor de gett
    mig genom livet!</p>
  </div>
  <div class="drums d-flex">
    <img src="../../../assets/giant_drummer.jpg" alt="giant_drummer" class="img-hobby">
    <div class="drums-text">
      <h3>Musik</h3>
      <p>Främst trummor, men spelar även andra instrument. Den kreativa förmågan jag utvecklar när jag spelar musik håller mig på tårna när jag ska skapa saker, även om det inte gäller musik.
        Jag har även spelat i flera band under olika musikgenrer, så jag har lärt mig att anpassa mig utefter behov, samt att man i ett band ofta måste kompromissa och samarbeta för att nå sitt gemensamma mål.
        Det är något jag absolut tar med mig ut i arbetslivet.
      </p>
    </div>
  </div>
  <div class="video-games d-flex justify-content-end">
    <div class="games-text">
      <h3>Dataspel</h3>
      <p>Mitt intresse för dataspel spelar en stor roll i gnistan som startade mitt brinnande intresse för datorer i allmänhet.
        Det har lett till att jag har funnit en viss umgängeskrets, som sedan ledde mig in på spåret att börja studera IT i gymnasiet. Även om jag inte fortsatte på IT-spåret direkt, så har det allitd legat mig tätt i ryggen, oavsett vad jag har haft för mig.
        Studier visar att folk som spelar dataspel har bättre reaktionsförmåga, och en ökad koordinationsförmåga, vilket jag själv ser att jag har. Både fysiskt och psykisk koordinationsförmåga tror jag är gynnsamt i IT-branchen. 
      </p>
    </div>
    <img src="../../../assets/tv-spel.jpg" alt="tv-spel" class="img-hobby">
  </div>
  <div class="workout d-flex">
    <img src="../../../assets/workouot.jpg" alt="" class="img-hobby">
    <div class="workout-text">
      <h3>Träning</h3>
      <p>Det är viktigt att hålla sig i form, särskilt när man har bpde stillasittande hobbys och ett stillasittande arbete.
        Det är allmänt känt att ens förmåga att fokusera förbättras om man motionerar regelbundet.
        Sedan jag började studera, så har jag varit stillasittande mer än någonsin tidigare, så för att hålla både kroppen och sinnet i trim försöker jag träna och motionera flera dagar i veckan.
        
      </p>
    </div>
  </div>
  

</div>