.card-layout {
 
 
  border-radius: 15px;
  background-color: #231f19;
  border: 2px solid #fae9cc;
  box-shadow: #cd9934 7px 7px;
  width: 280px;
  margin-top:2rem;
  /* min-height: 100px; */
}
.card-text {
  color: #fae9cc;
}
.card-text h3 {
  
  font-family: Blastrick Normal;
  font-size: 2rem;
}
.card-text small {
  font-size: .8rem;
}