.bg-darkgray {
  background-color: #231f19;
 
}
.navbar-dark .navbar-toggler {
  color: #fae9cc !important;
  border: 2px solid #cd9934;
}
.border-orange {
  border: 3px solid #cd9934;
}
/* .logo-hamburger {
  justify-content: space-between !important;
} */
.navbar-logo {
  font-family: Blastrick Normal, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fae9cc;
  font-size: 4rem;
  text-shadow: #cd9934 2px 3px;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #231f19;
  text-decoration: none;
}
.nav-link {
  font-family: Blastrick Special, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  margin-right: 3rem;
  color: #fae9cc !important;
}

.navbar-links {
  justify-content: flex-end;
}