<div class="container">
  <div>
    <div class="home-text ">
      <h3 class="text-center">Välkommen</h3>
      <p class="border-rb">Jag är student som pluggar Frontend-utveckling med fokus på Javascript.
        Den här hemsidan har jag skapat för att presentera mig själv och visa upp mina färdigheter.
        I menyn ovan finner du mina erfarenheter, och längre ner på sidan kan du lära känna mig lite mer utöver kunskaper!
      </p>
    </div>
    <div class="home-text border-lb m-auto">
      <h3>Relevanta Meriter</h3>
      <div class="">
        <p>Javascript: React, Angular, Vue</p>
        <p>Adobe XD, office-paketet, Github </p>
        <p>Språk: svenska flytande, engelska flytande, japanska grundläggande, spanska grundläggande</p>
      </div>
    </div>
    <div class="home-text border-rb">
      <h3>Varför Anställa Mig?</h3>
      <p>Jag är ordentlig, lösningsorienterad,
        effektiv, uppmärksam, och jag har en
        stark vilja att utvecklas. Jag är
        service-inriktad, och gör alltid mitt
        yttersta för att kunden ska bli nöjd</p>
    </div>
    <div class="home-text border-lb ms-auto">
      <h3>Jag som kollega!</h3>
      <p>Som person är jag social och
        avslappnad. De flesta som träffar mig
        skulle nog uppfatta med som rolig
        och lättsam, och jag tycker om att
        få folk i min omgivning att känna sig
        inkluderade och trygga.</p>
    </div>
  </div>
  <div>
    <img src="" alt="">
  </div>
  
</div>