.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #231f19;
  color: #fae9cc;
  height: 100px;
  margin-top: 4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer a {
  margin: 1rem;
  font-size: 2rem;
  color: #fae9cc;
}